@import './styles/theme.css';
@import './styles/combat.css';
@import './styles/titleMenu.css';
@import './styles/compendium.css';
@import './styles/gazette.css';

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
